{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as macro %}

{% block toolbar %}
    {% if collector.stacks|length > 0 %}
        {% set icon %}
            {% if constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') >= 20800 %}
                {{ include('@Httplug/Icon/httplug.svg') }}
            {% else %}
                {{ include('@Httplug/Icon/httplug_old.svg') }}
            {% endif %}
            <span class="sf-toolbar-value">{{ collector.stacks|length }}</span>
            <span class="sf-toolbar-label">req.</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Successful requests</b>
                <span>{{ collector.successfulStacks|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Failed requests</b>
                <span>{{ collector.failedStacks|length }}</span>
            </div>
        {% endset %}

        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/httplug/style/httplug.css') }}" />
    <script type="text/javascript" src="{{ asset("bundles/httplug/script/httplug.js") }}"></script>
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label {{ collector.stacks|length == 0 ? 'disabled' }}">
        <span class="icon">
            {% if constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') >= 20800 %}
                {{ include('@Httplug/Icon/httplug.svg') }}
            {% else %}
                {{ include('@Httplug/Icon/httplug_old.svg') }}
            {% endif %}
        </span>
        <strong>Httplug</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>HTTPlug</h2>
    <button class="btn push-right" onclick="httplug_toggleBody(this)" data-label="Hide message body">Show message body</button>

    <div class="sf-tabs">
        {% for client in collector.clients %}
        <div class="tab">
            <h3 class="tab-title">{{ client }} <span class="badge">{{ collector.clientStacks(client)|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are sent by client named "{{ client }}".
                </p>

                {% for stack in collector.clientStacks(client) %}
                    <h3>
                        Request #{{ loop.index }}
                        {% if stack.failed %}
                            - <span class="httplug-error">Errored</span>
                        {% endif %}
                    </h3>
                    {{ macro.printMessages(stack) }}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="empty">
                <p>No request were sent.</p>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% macro printMessages(stack) %}
    <table class="httplug-request-table">
        <tr>
            <th width="50%">Request</th>
            <th width="50%">Response</th>
        </tr>

        <tr>
            <td>{{ stack.request|httplug_markup|nl2br }}</td>
            <td>{{ stack.response|httplug_markup|nl2br }}</td>
        </tr>
        {% if stack.profiles %}
            <tr>
                <td colspan="2" style="text-align:center">
                    <button class="btn" onclick="httplug_togglePluginStack(this)" data-label="Hide plugin stack">See plugin stack</button>
                </td>
            </tr>
            <tr class="httplug-request-stack">
                <td class="httplug-plugin-name">&darr; Start </td>
                <td class="httplug-plugin-name">- End
                    {% if stack.failed %}
                        <span class="httplug-error">&#9747;</span>
                    {% endif %}
                </td>
            </tr>
            {% for profile in stack.profiles %}
                <tr class="httplug-request-stack">
                    <td class="httplug-plugin-name">&darr; {{ profile.plugin }} </td>
                    <td class="httplug-plugin-name">&uarr;
                        {% if profile.failed %}
                            <span class="httplug-error">&#9747;</span>
                        {% endif %}
                    </td>
                </tr>
                <tr class="httplug-request-stack">
                    <td>{{ profile.request|httplug_markup|nl2br }}</td>
                    <td>{{ profile.response|httplug_markup|nl2br }}</td>
                </tr>
            {% endfor %}
            <tr class="httplug-request-stack">
                <td class="httplug-plugin-name">&#10230; <span class="push-right">HTTP client</span></td>
                <td class="httplug-plugin-name">&uarr;
                    {#{% if profile.failed %}#}
                        {#<span class="httplug-error">&#9747;</span>#}
                    {#{% endif %}#}
                </td>
            </tr>
        {% endif %}
    </table>
{% endmacro %}
